#color {
  color: white; }

.slideWindow {
  font-size: 55pt;
  padding-top: 240px; }

.slideFont {
  font-size: 35pt;
  margin-bottom: 240px; }

.infoFooter {
  font-size: 16pt;
  margin-top: 2rem; }

.res-font {
  font-size: 40pt; }

.md-font {
  font-size: 30pt; }

.s-font {
  font-size: 16pt; }

.perfect-font {
  font-size: 40pt; }

.logo {
  margin-left: 3rem; }

#down-item {
  color: black; }
  #down-item:hover {
    background-color: lightgray;
    color: #d94d39; }

.logo-bottom {
  width: 5rem;
  height: 8rem;
  display: block;
  margin: 2rem auto; }

.come-box {
  text-decoration: none;
  background-color: #fff;
  color: #d94d39;
  font-size: 25px;
  border: 2px solid #d94d39;
  border-radius: 0.5rem;
  background-color: #fff;
  width: 40%;
  padding: 25px;
  text-transform: uppercase;
  margin: 4rem auto; }

.come-box:hover {
  color: #dd341a;
  background-color: rgba(211, 211, 211, 0.097);
  border: 2.5px solid #dd341a; }

.inputReservation {
  width: 12rem;
  background-color: #d94d39;
  border: transparent;
  color: white;
  font-weight: bold; }

.inputReservation2 {
  width: 4rem;
  background-color: #d94d39;
  border: transparent;
  color: white;
  font-weight: bold; }

.res-style {
  border-bottom: solid white 1px;
  height: 3rem;
  margin-right: 1rem; }

.canvas-style {
  border-bottom: solid white 1px;
  margin: 0rem 0rem 1rem 1rem;
  height: 2rem; }

.textArea {
  width: 43.5rem;
  height: 1rem;
  margin-top: 2rem;
  background-color: #d94d39;
  border: transparent;
  color: white;
  font-weight: bold;
  border-bottom: solid white 1px; }

.social {
  margin-right: 7px;
  width: 2.3rem;
  height: 2.3rem;
  fill: var(--color-primary); }

.red-line {
  width: 6.75rem;
  border-bottom: 2px solid #d94d39;
  margin: auto; }

.canvas-style {
  border-style: 1rem solid white; }

#menu-container {
  display: block; }

.flower {
  display: block;
  height: 840px;
  background: linear-gradient(rgba(0, 0, 0, 0.564), rgba(0, 0, 0, 0.5)), url("../img/Rosa.gif");
  background-size: cover;
  z-index: -1; }

.strawberry {
  height: 840px;
  background: linear-gradient(rgba(0, 0, 0, 0.564), rgba(0, 0, 0, 0.5)), url("../img/strawberry.gif");
  background-position: bottom;
  background-size: cover;
  z-index: -1; }

@media (max-width: 480px) {
  .flower {
    background-size: 80rem;
    background-position: center;
    height: 450px; } }

@media (max-width: 480px) {
  .strawberry {
    background-size: 80rem;
    background-position: right;
    height: 450px; } }

.image1 {
  position: relative;
  background-image: url("../img/hand.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  float: left;
  width: 100%;
  height: 665px;
  transition: all 0.5s; }
  .image1:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hand.png");
    background-repeat: no-repeat;
    transform: scale(1.05); }

.image2 {
  position: relative;
  background-image: url("../img/couple.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 690px;
  width: 100%;
  height: 665px;
  transition: all 0.5s; }
  .image2:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/couple.png");
    background-repeat: no-repeat;
    transform: scale(1.05);
    background-position: center; }

.image3 {
  position: relative;
  background-image: url("../img/rosabed.gif");
  background-repeat: no-repeat;
  background-size: 160rem;
  background-position: center;
  height: 665px;
  width: 100%;
  transition: all 0.5s; }
  .image3:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/rosabed.gif");
    background-repeat: no-repeat;
    background-size: 160rem;
    transform: scale(1.05);
    background-position: center; }

.square {
  font-size: 25px;
  text-transform: uppercase;
  color: #3f3f3f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffffe0;
  width: 260px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black; }

.square:hover {
  background-color: #d94d39;
  color: white; }

.perfect {
  height: 55rem;
  padding-top: 100px;
  padding-bottom: 100px; }

.reservation {
  padding-top: 10rem;
  background-color: #d94d39;
  height: 55rem;
  color: white; }

.reservation-block {
  padding-top: 15rem;
  background-color: #d94d39;
  height: 55rem;
  color: white;
  visibility: visible !important;
  margin: auto; }

.boat {
  height: 500px;
  background-repeat: no-repeat;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.564), rgba(0, 0, 0, 0.5)), url("../img/boat.png");
  background-position: 60% center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px; }

.footer-block {
  background-color: #ffffff;
  height: 850px;
  color: white; }

.background-color-orange {
  background-color: #d94d39; }

@media (max-width: 480px) {
  #color {
    color: black; }
  .slideWindow {
    font-size: 24pt;
    padding-top: 130px; }
  .slideFont {
    font-size: 20pt;
    margin-bottom: 40px; }
  .infoFooter {
    font-size: 14pt;
    margin: auto; }
  .res-font {
    font-size: 40pt; }
  .md-font {
    font-size: 20pt; }
  .s-font {
    font-size: 14pt; }
  .textArea {
    width: 20.5rem;
    height: 5px; } }

@media (max-width: 480px) {
  .boat {
    padding-top: 50px;
    padding-bottom: 100px;
    height: 550px; }
  .reservation-block {
    height: 550px; }
  .perfect {
    padding-top: 50px;
    padding-bottom: 100px;
    height: 550px; }
  .perfect-font {
    font-size: 30pt; }
  .logo-bottom {
    width: 5rem;
    height: 8rem;
    margin: auto; } }

@media (max-width: 480px) {
  .image1 {
    width: 100%;
    height: 478px;
    background-size: cover;
    background-position: center; }
  .image2 {
    width: 100%;
    height: 478px;
    background-position: center;
    background-size: 670px; }
  .image3 {
    width: 100%;
    height: 478px;
    background-size: cover; } }

@media (max-width: 821px) {
  .perfect {
    height: 650px;
    padding-top: 150px; }
  .reservation-block {
    height: 650px; }
  .s-font {
    font-size: 14pt; }
  .reservation {
    padding-top: 0rem;
    height: fit-content; } }
