.max-font {
  font-size: 60pt;
  padding-top: 240px; }

.mid-font {
  font-size: 40pt;
  margin-bottom: 240px; }

@media (max-width: 480px) {
  .max-font {
    padding-top: 120px;
    font-size: 30pt; }
  .mid-font {
    margin-bottom: 120px;
    font-size: 20pt; } }

.logo {
  margin-left: 3rem; }

.button-style {
  z-index: 1;
  opacity: 0.5;
  transition: opacity .15s ease; }

#down-item {
  background-color: lightgray;
  color: black; }
  #down-item:hover {
    color: #d94d39; }

.slash {
  width: 5rem;
  border-bottom: 2px solid white;
  margin: auto; }

.slash-mobile {
  height: 4rem;
  width: 0rem;
  border-right: 2px solid white; }

.left-rotate {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.right-rotate {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.logo-bottom {
  width: 5rem;
  height: 8rem;
  display: block;
  margin: 2rem auto; }

.come-box {
  width: 453.95px;
  margin: 61px auto;
  border: 3px solid #d94d39;
  color: #d94d39; }

.input-class {
  width: 14rem;
  background-color: #d94d39;
  border: transparent;
  color: white;
  font-weight: bold; }

.input-class2 {
  width: 5rem;
  background-color: #d94d39;
  border: transparent;
  color: white;
  font-weight: bold; }

.res-style {
  border-bottom: solid white 1px;
  height: 3rem;
  margin-right: 1rem; }

.textArea {
  width: 40.5rem;
  height: 3rem;
  background-color: #d94d39;
  border: transparent;
  color: white;
  font-weight: bold;
  border-bottom: solid white 1px; }

.social {
  margin-right: 7px;
  width: 2.3rem;
  height: 2.3rem;
  fill: var(--color-primary); }

.red-line {
  width: 6.75rem;
  border-bottom: 2px solid #d94d39;
  margin: auto; }

#flower {
  display: block;
  height: 840px;
  background: linear-gradient(rgba(0, 0, 0, 0.564), rgba(0, 0, 0, 0.5)), url("../img/Rosa.gif");
  background-size: cover;
  z-index: -1; }

#strawberry {
  height: 840px;
  background: linear-gradient(rgba(0, 0, 0, 0.564), rgba(0, 0, 0, 0.5)), url("../img/strawberry.gif");
  background-position: bottom;
  background-size: cover;
  z-index: -1; }

@media (max-width: 480px) {
  #flower {
    background-size: 80rem;
    background-position: center;
    height: 450px; } }

@media (max-width: 480px) {
  #strawberry {
    background-size: 80rem;
    background-position: right;
    height: 450px; } }

#image1 {
  position: relative;
  background-image: url("../img/hand.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  float: left;
  width: 660px;
  height: 665px; }
  #image1:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hand.png");
    background-repeat: no-repeat; }

@media (max-width: 480px) {
  #image1 {
    width: 414px;
    background-size: cover;
    background-position: center; } }

#image2 {
  position: relative;
  background-image: url("../img/couple.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 670px;
  height: 665px;
  width: 660px; }
  #image2:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/couple.png");
    background-repeat: no-repeat;
    background-size: cover; }

@media (max-width: 480px) {
  #image2 {
    width: 414px;
    background-position: center;
    background-size: 670px; } }

#image3 {
  position: relative;
  background-image: url("../img/rosabed.gif");
  background-repeat: no-repeat;
  background-size: 80rem;
  height: 665px;
  width: 660px; }
  #image3:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/rosabed.gif");
    background-repeat: no-repeat;
    background-size: cover; }

@media (max-width: 480px) {
  #image3 {
    width: 414px;
    background-size: cover; } }

.square {
  position: absolute;
  font-size: 28pt;
  margin: 12rem 0 0rem 8rem;
  width: 265.95px;
  height: 265.95px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white; }

@media (max-width: 480px) {
  .square {
    margin: 12rem 0 0rem 5rem; } }

#image1:hover .square {
  background-color: #d94d39;
  color: white; }

#image2:hover .square {
  background-color: #d94d39;
  color: white; }

#image3:hover .square {
  background-color: #d94d39;
  color: white; }

.perfect {
  height: 800px;
  padding-top: 130.87px; }

.reservation {
  padding-top: 10rem;
  background-color: #d94d39;
  height: 55rem;
  color: white;
  font-size: 20pt; }

@media (max-width: 480px) {
  .reservation {
    height: 450px; } }

.boat {
  height: 658px;
  background-repeat: no-repeat;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.564), rgba(0, 0, 0, 0.5)), url("../img/boat.png");
  background-position: 50% center;
  background-size: cover; }
