

#color {
color: white;
}

.slideWindow{
  font-size:55pt;
 padding-top: 240px;
}  
.slideFont{
  font-size: 35pt;
  margin-bottom: 240px;
}
 .infoFooter{
   font-size:16pt;
   margin-top: 2rem;
 }
 .res-font{
  font-size:40pt
 }
  .md-font{
    font-size:30pt;}
  
 .s-font{
  font-size:16pt;

 }
 .perfect-font{
   font-size: 40pt;
 }
 
.logo{
 margin-left: 3rem; 
 
}

#down-item{
  
  color:black; 
  &:hover{
    background-color:lightgray; 
    color:#d94d39 ;
  }
}
 

.logo-bottom{
  width:5rem;
  height:8rem;
  display: block;
  margin:2rem auto;
}
.come-box {
  text-decoration: none;
  background-color: #fff;
  color: #d94d39;
  font-size: 25px ;
  border: 2px solid #d94d39;
  border-radius:0.5rem;
  background-color: #fff;
  width: 40%;
  padding: 25px;
  text-transform: uppercase;
  margin: 4rem auto;
}
.come-box:hover {
  color: #dd341a;
  background-color: rgba(211, 211, 211, 0.097);
  border: 2.5px solid #dd341a;
}


  .inputReservation{
    width: 12rem; 
    background-color: #d94d39; 
    border:transparent; 
    color: white;
    font-weight: bold;
  }
  .inputReservation2{
    width: 4rem; 
    background-color: #d94d39; 
    border:transparent; 
    color: white;
    font-weight: bold;
  }
  
  .res-style{
    border-bottom: solid  rgb(255, 255, 255) 1px; 
    height: 3rem;
    margin-right: 1rem;
   
  }
  .canvas-style{
    border-bottom: solid  rgb(255, 255, 255) 1px; 
    margin: 0rem 0rem 1rem 1rem;
  
    height: 2rem;
   
  }

 
  
  .textArea{
    width: 43.5rem;
    height: 1rem;
     margin-top: 2rem;
    background-color: #d94d39; 
    border:transparent; 
    color: white;
    font-weight: bold;
    border-bottom: solid  rgb(255, 255, 255) 1px;
   
    }    

  .social{
    margin-right: 7px; 
    width: 2.3rem;
    height: 2.3rem;
    fill:var(--color-primary);      
    }
    .red-line{
      width: 6.75rem;
      border-bottom: 2px solid #d94d39;
      margin:auto;   
      
      }

      .canvas-style{
        border-style: 1rem solid white;
      }

      
      

    



      