

#flower{
  display: block;
 height:840px;
  background:  linear-gradient(rgba(0, 0, 0, 0.564), rgba(0,0,0,0.5)),
   url('../img/Rosa.gif')  ; 
   background-size: cover; 
   z-index: -1;
   
  
 }
  #strawberry{
 height:840px;  
   background:  linear-gradient(rgba(0, 0, 0, 0.564), rgba(0,0,0,0.5)),
    url('../img/strawberry.gif');
    background-position: bottom; 
    background-size: cover;
    z-index: -1;
       
  }

  @media (max-width: 480px) {
  
    #flower {      
      background-size: 80rem;  
      background-position: center;  
      
      height: 450px;}
    }

  @media (max-width: 480px) {
  
    #strawberry {
      background-size: 80rem;  
      background-position: right;            
      height: 450px;}
    }
  
  #image1{
    position: relative;
    background-image:url('../img/hand.png' ) ; 
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center;
    float: left;
    width: 660px;    
    height: 665px;
    &:hover{
      background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/hand.png") ;
      background-repeat: no-repeat;  
  

    }
  }

  @media (max-width: 480px) {
  
    #image1 {
      width: 414px;
      background-size: cover;  
      background-position: center;            
      }
    }

 

    #image2{
      position: relative;
   
      background-image:url('../img/couple.png' ); 
      background-repeat: no-repeat; 
      background-position: center;
      background-size: 670px;
    
      height: 665px;
      width: 660px; 
     
      &:hover{
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/couple.png") ;
        background-repeat: no-repeat;  
        background-size: cover;
      }
    }    
    @media (max-width: 480px) {
  
      #image2 {
        width: 414px;
        background-position: center;
        background-size: 670px; 
                  
        }
      }
    
      
      #image3{
        position: relative;
 
        background-image:  url('../img/rosabed.gif' ) ; 
        background-repeat: no-repeat;
        background-size: 80rem;
        height: 665px;
        width: 660px; 
    
        &:hover{
          background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/rosabed.gif") ;
          background-repeat: no-repeat; 
          background-size: cover; 
       
        }  }

        @media (max-width: 480px) {
  
          #image3 {
            width: 414px;
            background-size: cover;  
                  
            }
          }
        
  .square {  
    position:absolute;  
    font-size: 28pt;
    margin: 12rem 0 0rem 8rem;
    width:265.95px;
    height: 265.95px;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgba(255, 255, 255,08); 
    
  }

  @media (max-width: 480px) {
  
    .square{
      margin: 12rem 0 0rem 5rem;
                
      }
    }
  
  #image1:hover .square{
    background-color: #d94d39;
    color: white;
  
  }
  
  #image2:hover .square{
    background-color: #d94d39;
    color: white;  
  }

  #image3:hover .square{
    background-color: #d94d39;
    color: white;
  
  }
  
  .perfect{
    height:800px; 
    
    padding-top: 130.87px;
  }
  .reservation{
    padding-top: 10rem;
      background-color:#d94d39 ;
       
      height: 55rem;
      color: white;
      font-size:20pt;
    
    }


    @media (max-width: 480px) {
  
      .reservation {
                   
        height: 450px;}
      }
    




    .boat{
      height: 658px; 
      background-repeat: no-repeat;
     
      color: white;
      
      background:  linear-gradient(rgba(0, 0, 0, 0.564), rgba(0,0,0,0.5)),
      url('../img/boat.png' );
      background-position: 50% center; 
      background-size: cover;
    }