@media (max-width: 480px) {
  .center-text{
    text-align: center;
  }

  
  
  
  #color{
    color: black;
              
    }
    .r-font{
      font-size: 30pt;
    }
    .max-font {
      padding-top: 120px;
      
      font-size:30pt;}
      .l-font {         
        font-size:30pt;}

                .md-font{
          font-size:20pt;}

    .mid-font{
      margin-bottom: 120px;
      font-size:20pt;}

      .min-font{
        font-size:12pt;
      }
      .s-font{
        font-size:16pt;
    
      }  

      .s2-font{
        font-size:12pt;      
       }
      
      .xs-font{
        font-size:12pt;
      }

      .square-font{
        font-size:22pt;
     
      }
   
      .res-style{
        height: 2rem;                  
        }

        .textArea{
          width: 20.5rem;
        height: 5px;
      }
      
     } 
            
    @media (max-width: 480px) {  
     .boat {                   
     padding-top: 50px; 
     padding-bottom: 100px;
     height:450px}        
              }
        
            
    @media (max-width: 480px) {  
   .footer-block{                   
      height: 450px;}      
      
    
      .reservation {                   
        height: 570px;
        padding-top: 2rem;
        
      }

      .reservation-block{                   
        height: 450px;
        padding-top: 10rem;
        
      }

    .perfect {                   
    height: 480px;
    padding-top: 100px;}        
       
    }
    @media (max-width: 480px) { 
    
      .image1 {
        width: 100%;
      height: 478px;
      background-size: cover;  
      background-position: center;            
    }

    .image2 {
      width: 100%;
       height: 478px;
      background-position: center;
       background-size: 670px; 
        }
  
     .image3 {
      width: 100%;
       height: 478px;
       background-size: cover;        
        }
            
        }

        
        

       
