@media (max-width: 480px) {
  
  
  #color{
    color: black;
              
    }
    .slideWindow{
      font-size:24pt;
     padding-top: 130px;
    }  
    .slideFont{
      font-size: 20pt;
      margin-bottom: 40px;

    }
     .infoFooter{
       font-size:14pt;
       margin: auto;
     }
     .res-font{
      font-size:40pt;
     }
    .md-font{
          font-size:20pt;}
  
      .s-font{
        font-size:14pt;
    
      }     
   
        .textArea{
          width: 20.5rem;
        height: 5px;
      }
      
     }             
         
            
    @media (max-width: 480px) { 
      
      .boat {                   
        padding-top: 50px; 
        padding-bottom: 100px;
        height:550px} 
        
        .reservation-block{
          height: 550px;
        }

        .perfect{
          padding-top: 50px; 
        padding-bottom: 100px;
        height:550px
                  
          
        }
        .perfect-font{
          font-size: 30pt;
        }
        
        .logo-bottom{
          width:5rem;
          height:8rem;
         
          margin:auto;
        }

       }

         
       
    
    @media (max-width: 480px) { 
    
      .image1 {
        width: 100%;
      height: 478px;
      background-size: cover;  
      background-position: center;            
    }

    .image2 {
      width: 100%;
       height: 478px;
      background-position: center;
       background-size: 670px; 
        }
  
     .image3 {
      width: 100%;
       height: 478px;
       background-size: cover;        
        }
            
        }
        @media (max-width: 821px) {  

          .perfect{
            height:650px;     
            padding-top: 150px;
            
          }
          .reservation-block{
            height: 650px;
          }
          .s-font{
            font-size:14pt;
          
           }   
           .reservation{
            padding-top: 0rem;
           height: fit-content;
              
           }    

            
        }
        

        
        

       
